<!DOCTYPE html>
<html>
<head>
	<title>First Angular App</title>
	<!-- link to bootstrap -->
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<!-- link to Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<!-- ui router library  -->
	<script src="https://cdn.rawgit.com/angular-ui/ui-router/0.2.18/release/angular-ui-router.min.js"></script>
	<!-- link to the JS file -->
    <script src="appRef.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<!-- here we declare the Angular app. Whenever ui-router detects a route change, it will place the new state's template inside the tag and initialize the controller we specified in our state configuration. Notice how we have removed the ng-controller="MainCtrl" line from the opening <body> tag. -->
<body ng-app="flapperNews">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="page-header">
				<a ui-sref="posts">Posts</a>
				<a ui-sref="home">Home</a>
			</div>
			<ui-view></ui-view>
		</div>
	</div>
	<script type="text/ng-template" id="/home.html">
				<div class="page-header">
	       			<h1>Flapper News</h1>
	      		</div>
	      		<form ng-submit="addPost()" style="margin-top:30px;">
					<h3>Add a new Post</h3>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Link" ng-model="link"></input>
					</div>
					<button type="submit" class="btn btn-primary">Post</button>
				</form>
			</div>
		</div>
		<div class="page-header">
			<div ng-repeat="post in posts | orderBy:'-upvotes'">
					<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
					 - upvotes: {{post.upvotes}}
				<h3>
					<a ng-show="post.link" href="{{post.link}}">
						{{post.title}}
					</a>

					<span ng-hide="post.link">
						{{post.title}}
					</span>

				</h3>
			</div>
		</div>
	</script>
	<script type="text/ng-template" id="/posts.html">
	<h2>  HELLO WELCOME TO THE comments PAGE </h2>
		<div class="page-header">
			<div ng-repeat="post in posts | orderBy:'-upvotes'">
					<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
					 - upvotes: {{post.upvotes}}
				<h3>
					<a ng-show="post.link" href="{{post.link}}">
						{{post.title}}
					</a>

					<span ng-hide="post.link">
						{{post.title}}
					</span>
					<span>
	  					<a href="#/posts/{{$index}}">Comments</a>
					</span>
				</h3>
			</div>
		</div>
		
		<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
			<span class="glyphicon-thumbs-up" ng-click="incrementUpVotes(comment)"></span>
			{{comment.upvotes}} - by {{comment.author}}
			<span style="font-size:20px; margin-left:10px;"
				{{comment.body}}
			</span>
		</div>
		<form ng-submit="addComment()" style="margin-top:30px;">
				<h3>Add a new comment</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
			</div>
				<button type="submit" class="btn btn-primary">Post</button>
		</form>
	</script>

</body>
</html>

